[Unit]
Description=application ComunioScore
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ComunioScore config --file /etc/ComunioScore/cfg.ini
User=christian
Group=christian
UMask=002

[Install]
WantedBy=multi-user.target
